.navbar-expand-lg {
    justify-content: flex-end;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        justify-content: flex-end;
    }
}

#header {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: end;
    padding-top: 8%;
}

#header span {
    font-size: 20px;
    margin: 10px;
    margin-right: 30px;
}

::placeholder {
    color: grey;
    opacity: 0.8;
}

#header input {
    width: 180px;
    margin: 10px;
    padding: 4px;
    padding-left: 6px;
    border: 2px solid white;
    margin-top: 10px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 20px;
    color: black;
    background-color: transparent;
}

input[type="search"]:focus {
    border: 0px solid white;
    outline: none;
    /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 2px green;
    /* Full freedom. (works also with border-radius) */
}

#icon {
    margin-left: 50;
    margin-bottom: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
}

#icon i {
    font-size: 30px;
    color: white;
    margin: 10px;
}

@media (max-width: 950px) {
    #header span {
        font-size: 18px;
        margin: 8px;
        margin-top: 14px;
        margin-right: 22px;
    }

    #header input {
        width: 160px;
        margin: 6px;
        padding: 2px;
        padding-left: 8px;
        border-color: honeydew;
        margin-top: 10px;
        margin-right: 16px;
        font-size: 15px;
        border-radius: 20px;
        background-color: transparent;
    }
}

@media (max-width: 770px) {
    #header span {
        font-size: 18px;
        margin: 5px;
        margin-top: 14px;
        margin-right: 20px;
    }

    #header input {
        width: 130px;
        margin: 6px;
        padding: 3px;
        border-color: honeydew;
        margin-top: 10px;
        margin-right: 16px;
        font-size: 14px;
        border-radius: 20px;
        background-color: transparent;
    }
}