@font-face {
    font-family: UTM;
    src: url(asset/UTMLibelKT.ttf);
}

#container-dishes-1 {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#container-dishes-1 #container-salad {
    background-image: url('asset/std8-noicon.png');
    background-size: cover;
    resize: vertical;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

#container-dishes-1 pre {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 17px;
    font-family: UTM;
    color: white;
}

#container-dishes-1 #container-gif {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background-image: url('asset/giphy.gif');
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 1;
}

#container-dishes-1 #header {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    z-index: 4;
    right: 0;
    top: 0;
    height: auto;
    width: 100%;
    padding-top: 6vh;
    padding-right: 3vw;
}

#container-dishes-1 #header #dropdown-workout {
    position: relative;
    display: inline-block;
    justify-content: center;
}

#container-dishes-1 #dropdown-workout #dropdown-content {
    display: none;
    border-radius: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* padding: 12px 16px; */
    z-index: 1;
}

#container-dishes-1 #dropdown-workout:hover #dropdown-content {
    display: block;
}

#container-dishes-1 #dropdown-workout #dropdown-content div:hover {
    color: #ff9799;
    cursor: pointer;
}

#container-dishes-1 #header #dropdown {
    position: relative;
    display: inline-block;
    justify-content: center;
}

#container-dishes-1 #dropdown:hover #dropdown-content {
    display: block;
}

#container-dishes-1 #dropdown-content {
    display: none;
    border-radius: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* padding: 12px 16px; */
    z-index: 1;
}

#container-dishes-1 #dropdown-content div {
    font-size: 22px;
    width: 100%;
    padding-left: 10px;
}

#container-dishes-1 #dropdown-content div:hover {
    color: yellowgreen;
    cursor: pointer;
}

#container-dishes-1 #logo {
    position: absolute;
    z-index: 3;
    top: 4vh;
    left: 3vw;
    background-image: url('asset/logotrang-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 230px;
    height: 130px;
}

#container-dishes-1 #formula1 {
    position: absolute;
    right: 26vw;
    bottom: 1vh;
    width: auto;
    z-index: 5;
    text-align: right;
    font-size: 1.5vw;
}

#container-dishes-1 #formula2 {
    position: absolute;
    right: 1vw;
    bottom: 1vh;
    z-index: 5;
    width: auto;
    font-size: 1.5vw;
}

#container-dishes-1 #header a {
    margin-right: 40px;
    color: white;
    text-decoration: none;
    font-family: UTM;
    font-size: 44px;
}

::placeholder {
    color: grey;
    opacity: 0.8;
}

#container-dishes-1 #header input {
    width: 280px;
    height: 40px;
    margin: 10px;
    padding: 4px;
    padding-left: 6px;
    border: 2px solid white;
    margin-right: 16px;
    margin-top: 18px;
    font-size: 17px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
}

#container-dishes-1 #container-salad #description {
    position: absolute;
}

#container-dishes-1 input[type="search"]:focus {
    border: 0px solid white;
    outline: none;
    box-shadow: 0 0 0 2px green;
}

#container-dishes-1 #icon {
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    width: 300px;
    z-index: 3;
}

#container-dishes-1 #icon i {
    font-size: 30px;
    color: white;
    margin: 10px;
}

@media (max-width: 950px) {
    #container-dishes-1 #header a {
        font-size: 18px;
        margin: 8px;
        margin-top: 14px;
        margin-right: 22px;
    }

    #container-dishes-1 #header input {
        width: 160px;
        margin: 6px;
        padding: 2px;
        padding-left: 8px;
        border-color: honeydew;
        margin-top: 10px;
        margin-right: 16px;
        font-size: 15px;
        border-radius: 20px;
        background-color: transparent;
    }
}

@media (max-width: 770px) {
    #container-dishes-1 #header a {
        font-size: 18px;
        margin: 5px;
        margin-top: 14px;
        margin-right: 20px;
    }

    #container-dishes-1 #header input {
        width: 130px;
        margin: 6px;
        padding: 3px;
        border-color: honeydew;
        margin-top: 10px;
        margin-right: 16px;
        font-size: 14px;
        border-radius: 20px;
        background-color: transparent;
    }
}